.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    height: 293px;
    padding: 92px 50px 96px 50px;
}

.header__menu {
    position: relative;
    top: -4px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    font-size: 18px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__links-list-item_bullit {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.address_tel {
    text-decoration: underline;
}

.header__logo-image {
    width: 148px;
    height: 105px;
    background-size: cover;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    font-family: Raleway;
}

.address {
    font-size: 18px;
    font-style: normal;
    line-height: 1.4;
    text-underline-offset: 3px;
}


.cover {
    position: relative;
    height: 100%;
    background-image: url("/images/cover.jpg");
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__description {
    display: flex;
}

.cover__title {
    padding-top: 165px;
    padding-right: 21px;
    padding-left: 50px;
    color: rgba(255, 255, 255, 1);   
    font-size: 100px;
    letter-spacing: 30px;
    text-underline-offset: 50px;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    display: block;
    margin-top: 17px;
    text-align: center;
}

.aligned-text_right {
    display: block;
    margin-top: 17px;
    text-align: right;
}

.cover__description-text {
    padding: 118px 50px 60px 50px;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    width: 256px;
    height: 51px;
    margin-top: 104px;
    margin-left: 60px;
    border-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
    margin-top: 183px;
}

.lots__heading {
    margin-left: 63px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 25px;
    padding-left: 24px;
    color: rgba(255, 255, 255, 1);
    list-style-type: none;
}  

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    line-height: 120%;
}

.card-link {
    height: 100%;
}

.card_type_film {
    position: relative;
    height: 100%;
    background-image: url("/images/card-lot-01.jpg");
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.card_type_book {
    position: relative;
    height: 100%;
    background-image: url("/images/card-lot-02.jpg");
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.card_type_picture {
    position: relative;
    height: 100%;
    background-image: url("/images/card-lot-03.jpg");
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-transform: uppercase;   
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.card_link_buttom {
    margin: 30px 65px;
}

.lots__look-more-link {
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: lowercase;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    margin: 128px 24px 0px 24px;
}  

.about-logo {
    margin-top: 27px;
}

.background-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin-left: 48px;
    border-radius: 120px;
    background-color: rgba(0, 0, 0, 1);
    ;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}
.about__column {
    margin-top: 128px;
    margin-left: 26px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    margin-top: 100px;
    margin-right: 4px;
    font-size: 20px;
}

.about__text_p {
    margin-bottom: 22px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 180px;
    margin-top: 181px;
}

.footer__address {
    padding-left: 50px;
}

.footer__menu {
    font-weight: 400;
    font-size: 18px;
}

.footer__menu-list {
    text-align: center;
    list-style-type: none;
}

.footer__menu-link_active {
    text-decoration:none;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 0px 76px;
    list-style-type: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}